mixin category(im,n,ln)
	.col-md-4.col-sm-6.mb-4
		+b.category.A(href="#")&attributes(attributes)
			+e.DIV.img-wrap.bg-wrap
				img.res-i.object-fit-js(src=`img/@2x/${im}.jpg` alt="")
				if n
					+e.numb.bg-primary.text-light= n
					.icon-wrap
						+icon('padlock')
			+e.body
				block
			if ln
				+e.studied
					.h5.text-center.fw-700.text-light= ln
	// /.test-category

mixin category-item(im,n)
	.col-md-4.col-sm-6.mb-4
		+b.category-item&attributes(attributes)
			+e.A.img-wrap(href="#")
				img.res-i.object-fit-js(src=`img/@2x/${im}.jpg` alt="")
			if n
				+e.numb.bg-primary.text-light= n
			.icon-wrap
				+icon('padlock')
			+e.body
				block

	// /.category-item

mixin category-video(im,n)
	.col-md-4.col-sm-6.mb-4
		+b.category-item--video&attributes(attributes)
			+e.A.img-wrap(href="#")
				img.res-i.object-fit-js(src=`img/@2x/${im}.jpg` alt="")
				+icon('play')
			if n
				+e.numb.bg-primary.text-light= n
			.icon-wrap
				+icon('padlock')
			+e.body
				block

	// /.category-video

mixin category-slide(im,pl)
	+b.category-slide.bg-white&attributes(attributes)
		+e.A.img-wrap(href="#")
			img.res-i.object-fit-js.bg(src=`img/@2x/${im}.jpg` alt="")
			if pl
				+e.playlis
					+icon('playlist')
			else
				+icon('play')
		.icon-wrap
			+icon('padlock')
		+e.body
			block


