mixin category(im,n,ln)
	.col-md-4.col-sm-6
		+b.category.A(href="#")&attributes(attributes)
			+e.DIV.img-wrap.bg-wrap
				img.res-i.object-fit-js(src=`img/@2x/${im}.jpg` alt="")
				if n
					+e.numb.bg-primary.text-light= n
					.icon-wrap
						+icon('padlock')
			+e.body
				block
			if ln
				+e.studied
					.h5.text-center.fw-700.text-light= ln
	// /.test-category

mixin category-item(im,n, t)
	.col-md-4.col-sm-6.mb-4
		+b.category-item&attributes(attributes)
			+e.A.img-wrap(href="#")
				if t
					+e.timer= t
				img.res-i.object-fit-js(src=`img/@2x/${im}.jpg` alt="")
			if n
				+e.numb.bg-primary.text-light= n
			.icon-wrap
				+icon('padlock')
			+e.body
				block

	// /.category-item

mixin category-video(im,n)
	.col-md-4.col-sm-6.mb-3
		+b.category-item--video&attributes(attributes)
			+e.A.img-wrap(href="#")
				
				img.res-i.object-fit-js(src=`img/@2x/${im}.jpg` alt="")
				.play-wrap
					+icon('play')
			if n
				+e.numb.bg-primary.text-light= n
			.icon-wrap
				+icon('padlock')
			+e.body
				block

	// /.category-video

mixin category-slide(im,n)
	+b.category-slide.bg-white&attributes(attributes)
		+e.A.img-wrap(href="#")
			img.res-i.object-fit-js.bg(src=`img/@2x/${im}.jpg` alt="")
			if n
				+e.playlist
					span= n
						|видео
					+icon('playlist')
		.icon-wrap
			+icon('padlock')
		+e.body
			block



mixin category-item-modal(im,n,col=" col-md-4 col-sm-6 mb-4")
	div(class= col)
		+b.category-item&attributes(attributes)
			+e.A.img-wrap(href="#")
				img.res-i.object-fit-js(src=`img/@2x/${im}.jpg` alt="")
			if n
				+e.numb.bg-primary.text-light= n
			.icon-wrap
				+icon('padlock')
			+e.body
				block

	// /.category-item